body {
  background-color: green;
}

h1 {
  font-family: 'H', 'Trebuchet MS', Helvetica;
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-left: .25em;
}

div.test {
  background-color: blue;
  border: 3px dashed purple;
}

div.header {
  border: 3px solid grey;
}

p {
  font-family: 'H', 'Trebuchet MS', Helvetica;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 1em;
}

p.mono {
  font-family: Courier;
}
