html {
  font-family: 'Trebuchet MS', Helvetica;
}

body {
  background-color: green;
}

h1 {
  margin-block-start: .25em;
  margin-block-end: .25em;
  margin-left: .25em;
}

div {
  margin-block-start: .1em;
  margin-block-end: .1em;
  margin-left: .1em;
  margin-right: .1em;
}

div.test {
  background-color: blue;
  border: 3px dashed purple;
}

div.header {
  border: 3px solid grey;
}

div.files {
  width: 7em;
  border: 3px solid grey;
  flex-grow: 1;
}

div.content {
  border: 2px dashed blue;
  margin-left: .2em;
  flex-grow: 10;
}

div.body {
  border: 1px solid black;
  display: flex;
}

div.text {
  border: 1px dashed grey;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 1em;
}

p.mono {
  font-family: Courier, monospace;
}
